/* Global variables */
:root {
    --main-color: #2563EB;
    /* Butoons, Title, Logo */
    --secondary-color: #7C3AED;
    /* Button Hover */
    --page-background: #F9FAFB;
    /* Page Background */
    --section-background: #111827;
    /* Dark Section, Footer */
    --section-padding: 60px;
    --secondary-section-background: #1F2937;
    --secondary-text-color: #c4c7cc;
    /* paragraph */
}

/* Start Global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    color: var(--page-background);
}

.container {
    /* عشان يمسك المحتوي في نص الصفحة */
    padding: 0 15px;
    margin: 0 auto;
    /* متديش ويدث في الموبيل عشان ياخد العرض كله */
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Components */
.special-heading h1 {
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
}

.special-heading h1+p {
    margin: -10px 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 676px) {
    .special-heading h1 {
        font-size: 60px;
    }

    .special-heading h1+p {
        margin: -20px;
    }
}

/* End Components */

/* End Global rules */

/* Start Header */
.header {
    background-color: #111827;
}

.header .container .logo {
    width: 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .links .fa-bars {
    font-size: 25px;
    transition: 0.4s;
    color: var(--main-color);
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .fa-bars {
    color: #09796e;
}

.header .container .links ul {
    background-color: var(--secondary-section-background);
    list-style-type: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    z-index: 1;
    display: none;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-section-background) transparent;
    position: absolute;
    top: -19px;
    right: 6px;
}

.header .container .links ul li {
    transition: 0.4s;
    padding: 15px;
    cursor: pointer;
}

.header .container .links ul li:hover {
    /* padding-left: 25px; */
    transform: translateX(10px);
}

.header .container .links ul li:hover a {
    color: var(--main-color);
}

.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .container .links ul a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

/* End Header */

/* Start Landing Section */
.landing {
    height: calc(100vh - 57px);
    background-image: url(../images/hero.jpg);
    background-size: cover;
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
}

.landing .intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.landing .intro-text h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    padding: 10px;
}

.landing .intro-text h1 .brand-name {
    color: var(--main-color);
    font-size: 75px;
    display: block;
}

.typing {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    /* Cursor */
    animation: typing 2.5s steps(8) forwards,
        blink .5s infinite;
}

@keyframes typing {
    to {
        width: 8ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: var(--page-background);
    font-weight: 800;
}

.landing .btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background: var(--main-color);
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.landing .btn:hover {
    background: rgb(37, 99, 235, 0.9);
    transform: scale(1.1) translateX(-45%);
}

/* End Landing Section */

/* Start Features*/
.features {
    background-color: var(--section-background);
    padding: var(--section-padding) 0px;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    text-align: center;
    padding: 20px;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    color: var(--secondary-text-color);
    line-height: 1.8;
    font-size: 18px;
}

/* End Features*/

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 30px);
    background-color: var(--secondary-section-background);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
    }

    .services .services-content .serv i {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -150%);
    }
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv h3 {
    margin: 0 0 20px;
}

.services .services-content .serv .text p {
    color: var(--secondary-text-color);
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .image img {
    width: 100%;
}

.services .services-content .image {
    position: relative;
    text-align: center;
    width: 400px;
    z-index: 1;
}

@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}

.services .services-content .image::before {
    content: "";
    background-color: #5122a2;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: -15px;
    z-index: -1;
}

/* End Services */

/* Start Portfolio */
.portfolio {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.portfolio .portfolio-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .portfolio-content .card {
    background-color: var(--secondary-section-background);
    transition: 0.3s;
}

.portfolio .portfolio-content .card:hover {
    transform: translateY(10px);
    box-shadow: 0 4px 8px 2px rgb(0 0 0 / 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio .portfolio-content .card img {
    width: 100%;
}

.portfolio .portfolio-content .card .text {
    padding: 20px;
}

.portfolio .portfolio-content .card .text h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .text p {
    color: var(--secondary-text-color);
    font-weight: 300;
    line-height: 1.6;
}

/* End Portfolio */

/* Start about */
.about {
    padding: var(--section-padding) 0;
    background-color: var(--secondary-section-background);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 282px;
    height: 375px;
    background-color: #333;
    z-index: 1;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 90px;
    height: calc(100% + 100px);
    background-color: var(--section-background);
    left: -20px;
    top: -50px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #5122a2;
    border-bottom: 80px solid #5122a2;
    top: -50px;
    right: -150px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.about .about-content .text .numbers {
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
}

/* End about */

/* Start Contact */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.contact .info {
    margin-top: 100px;
    text-align: center;
}

.contact .info .label {
    color: var(--page-background);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 18px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
    font-size: 24px;
}

.contact .info .social i:hover {
    color: #5122a2;
    transform: scale(1.2);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

/* End Contact */

/* Start Footer */
.footer {
    background-color: var(--secondary-section-background);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer */